<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowledge.blog.mapper.UserMapper">
    <select id="findByUsername" resultType="com.knowledge.blog.model.User">
        SELECT id, username, password, email, role, created_at, updated_at
        FROM users WHERE username = #{username}
    </select>
    <select id="findByEmail" resultType="com.knowledge.blog.model.User">
        SELECT id, username, password, email, role, created_at, updated_at
        FROM users WHERE email = #{email}
    </select>
    <insert id="insert" parameterType="com.knowledge.blog.model.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, email, role)
        VALUES (#{username}, #{password}, #{email}, #{role})
    </insert>
</mapper>
